/* Chat App CSS */
.chatApp {
  display: flex;
  min-height: 100vh;
}

html {
  font-size: 82.5%;
}

body {
  background: rgb(3, 0, 31);

  font-family: Popins, sans-serif;
}

.sideBar {
  flex: 3;
  border-right: 0.5px solid rgb(255, 255, 254);
  min-height: 100vh;
}

.logo {
  margin-right: 1rem;
  padding-bottom: 2.5rem;
}

.brand {
  font-size: 2rem;
}

/* SideBar upper Side */
.upperSide {
  padding: 2.5rem;
  border-right: 0.5px solid rgb(100, 100, 100);
  height: 70%;
}

.home .upperSideTop {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.addBtn {
  height: 1.5rem;
  padding-right: 0.5rem;
}

.midBtn {
  background: #5a4bff;
  border: none;
  color: white;
  padding: 1.5rem;
  font-size: 1.5rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
}

.query {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 0.5rem;
  width: 22rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
}

.query > img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

/* Sidebar Lowerside  */

.lowerSide {
  padding: 1.5rem;
  border-top: 0.5px solid rgb(255, 255, 254);
  border-bottom: 0.5px solid rgb(255, 255, 254);
  height: 27.4%;
}

.listItems {
  margin: 0.75rem;
  display: flex;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  border: none;
  align-items: center;
  font-size: 1.3rem;
}

.listItemsImg {
  margin: 1rem;
  padding-right: 0.5rem;
}

.listItems:nth-child(1) > .listItemsImg {
  margin-right: 0.5rem;
}

.listItems:nth-child(1) > .listItemsImg {
  margin-right: 0.75rem;
}


/* Main Sectin CSS */
.main {
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 4rem;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chats {

  overflow: hidden;
  /* overflow-y: scroll; */
  border: none;
  color: white;
  scroll-behavior: smooth;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */

  max-width: 90rem;
  height: calc(100vh - 17rem);
 
}

.chat {
  margin: 1rem;
  padding: 2rem 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
}

.chatImg {
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.bot {
  background: rgba(28, 30, 58, 1);
  width: fit-content;
  border-radius: 0.3rem;
}

.inp {
  padding: 0.5rem;
  background: rgba(28, 30, 58, 1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 50rem;
}

.inp > input {
  width: calc(100% - 3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.inp > input,.send {
  background: transparent;
  border: none;
}
